---
layout: default
---
<link rel="stylesheet" type="text/css" href="assets/css/career-timeline.css">

<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

<!-- Bootstrap Core CSS -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom Fonts -->
<link href="assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{{content}}

